.inline-code {
  padding-inline: 0.15em;
  border: 1px solid color-mix(in srgb, currentColor 8%, transparent);
  overflow-wrap: break-word;
  font-size: 0.9em;
  line-height: 0;
  font-family: var(--font-mono);
  border-radius: clamp(2px, 4 / 16 * 1em, 8px);
  background-color: hsl(0 0% 100% / 0.12);
}