.article {
  font-size: var(--type-m);
  line-height: 1.5;
}

.article__title {
  margin-block-start: 0;
}

.article__date {
  display: block;
  max-width: max-content;
  font-size: 0.8em;
}

.article__excerpt {
  margin-block-start: clamp(16px, 24 / var(--max-container-size) * 100%, 48px);
}

.article__header {
  position: relative;
  margin-block-end: clamp(24px, 64 / var(--max-container-size) * 100%, 64px);
  padding-bottom: 1rem;
  border-bottom: 2px solid;
}

.article__code-block {
  margin-inline: calc(var(--body-padding) * -1);
  /* TODO: fix Safari bug for rounded outline */
  /* border-radius: clamp(0px, (100vw - 100% - var(--scroll-bar-size) * 1px) * 9999, 8px); */
}