<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <atom:link href="{{ meta.siteBaseLink }}{{ permalink }}" rel="self" type="application/rss+xml" />
    <title>{{ meta.title }}</title>
    {% if meta.description %}
      <description>{{ meta.description }}</description>
    {% endif %}
    <language>{{ meta.defaultLang }}</language>
    <link>{{ meta.siteBaseLink }}</link>
    {% if lastBuildDate %}
      <lastBuildDate>{{ lastBuildDate }}</lastBuildDate>
    {% endif %}
    {% for article in articles %}
      <item>
        <guid>{{ article.link }}</guid>
        <link>{{ article.link }}</link>
        <title>{{ article.title }}</title>
        <description><![CDATA[{{ article.content | safe }}]]></description>
        <pubDate>{{ article.date }}</pubDate>
      </item>
    {% endfor %}
  </channel>
</rss>