.article-preview {
  --_article-preview-gap: clamp(16px, 10 / 960 * 100%, 32px);
  position: relative;

  &:hover {
    color: var(--color-fade);
  }
}

.article-preview__title {
  margin-block-start: 0;
  /* margin-block-end: var(--_article-preview-gap); */
  margin-block-end: 10px;
  line-height: 1.35;
}

.article-preview__date {
  display: block;
  max-width: max-content;
  font-size: 0.8em;
}

.article-preview__link {
  &::after {
    content: '';
    position: absolute;
    inset: 0;
  }
}

.article-preview__excerpt {
  margin-block-start: var(--_article-preview-gap);
}