@property --_link-stroke-opacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

.link {
  --_link-stroke-opacity: 1;
  --_link-stroke-color:
    color-mix(
      in hsl,
      currentColor calc(40% * var(--_link-stroke-opacity)),
      transparent
    );
  text-decoration-color: var(--_link-stroke-color);
  text-decoration-thickness: 2px;
  text-underline-position: under;
  color: var(--color-accent);
  transition: --_link-stroke-opacity 125ms;

  &:hover {
    --_link-stroke-opacity: 0;
  }
}